<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Slacker News</title>

    <link rel="stylesheet" href="styles.css">
  </head>

  <body>
    <div class="content">
      <div id="navigation">
        <div></div>
          <ul>
            <li><img src="logo.gif" class="y-logo" border=1> </li>
            <li id="logo">Slacker News</li>
            <li>news | </li>
            <li>comments | </li>
            <li>ask | </li>
            <li>jobs | </li>
            <li>submit</li>
            <li id="login">login</li>
          </ul>
      </div>

      <div class="feed">
        <ol>
          <% @feed.each do |article| %>
            <li class="item">
              <div class="feed-result">
                <div class="feed-result-title">
                  <span class="caret">&#9650;</span><a href="<%= article[:url] %>"> <%= article[:title] %> <span class="source"><%= "(#{article[:domain]})" %></span></a>
                </div>
                <!-- <cite> tags have a default display of inline -->
                <cite class="feed-result-info"><%= article[:description] %></cite>
              </div>
            </li>
          <% end %>



        </ol>
      </div> <!-- End Feed -->

      <div class="footer">
        <ul class="footer-nav">
          <li>Lists | </li>
          <li>RSS | </li>
          <li>Bookmarklet | </li>
          <li>Guidelines | </li>
          <li>FAQ | </li>
          <li>DMCA</li>
          <li>New News | </li>
          <li>Feature Requests | </li>
          <li>Bugs | </li>
          <li>Y Combinator | </li>
          <li>Apply | </li>
          <li>Library</li>
        </ul>

        <% if !@error.nil? %>
          <p><%= @error %></p>
        <% end %>

        <h3>Post an article:</h3>
        <form action='/post_art' method="post">
          <input class="posting" placeholder="Title" type="text" name="title" id="title">
          <input class="posting" placeholder="Domain" type="text" name="domain" id="domain">
          <input class="posting" placeholder="URL" type="text" name="url" id="url"></br>
          <textarea placeholder="Enter brief description" class="description" name="description"></textarea></br>

          <input class="submit" type="submit" />
        </form>

      </div> <!-- End Footer -->

    </div> <!-- End Content -->
  </body>
</html>


<!-- <p class="caret">&#9650;</p> -->
